header {
    padding: 5% 10%;
}

.nav-link {
    margin: 0 1.5rem;
    color: black;
}

.navbar-nav{
    text-align: right;
}

.container-fluid {
    font-size: 1.2rem;
}

.collapse {
    padding:0 0 0 50%;
    text-align: right;
}

.container-fluid .navbar-brand {
    font-size: 2rem;
}

